{% extends 'tasks/base.html' %}

{% block content %}
<h2>Your Tasks</h2>

{% if tasks %}
    <div class="row">
         {% for task in tasks %}
            <div class="col-md-4">  
                <div class="task-item card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Task {{ forloop.counter }}</h5>
                        <p class="card-text">{{ task.title }}</p>
                        <p class="card-text">{{ task.description }}</p>
                        <span class="badge bg-primary">{{ task.category }}</span>

                        <form method="POST" action="{% url 'update_task_status' task.id %}">
                            {% csrf_token %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="completed" id="completedCheckbox{{ task.id }}" 
                                {% if task.completed %} checked {% endif %}
                                onchange="this.form.submit()">
                                
                                <label class="form-check-label" for="completedCheckbox{{ task.id }}">
                                    {% if task.completed %}
                                        Completed
                                    {% else %}
                                        Pending
                                    {% endif %}
                                </label>
                            </div>
                        </form>

                        <div class="task-actions">
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
<div class="text-right">
    <a href="{% url 'create_task' %}" class="btn btn-primary">Add Task</a>
</div>

    </div>
{% else %}
    <p>You have no tasks yet. <a href="{% url 'create_task' %}">Create one</a>.</p>
{% endif %}
{% endblock %}

